## HeroesOfPymoli    
    # import dependencies
import pandas as pd 
import os
import numpy as np

In [1]:
# import dependencies    
import os
import pandas as pd 
import numpy as np
# file to load
path = os.path.join("HeroesOfPymoli", "Resources", "purchase_data.csv")

In [2]:
# import csv file into new DataFrame
df = pd.read_csv(path)

In [3]:
# return the dimensionality of the DataFrame
df.shape

(780, 7)

In [4]:
# preview the DataFrame
df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [5]:
df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [6]:
df.dropna().shape

(780, 7)

In [7]:
df.dropna(how="all")

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [8]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [9]:
# calculate the number of total players(loc method)
player_demographics = df.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players = player_demographics.count()[0]
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

In [10]:
# calculations to obtain number of unique items, average price, etc.
number_of_unique_items = len(df["Item ID"].unique())
average_price = df["Price"].mean()
number_of_purchases = df["Purchase ID"].count()
total_revenue = df["Price"].sum()

# Create data frame with obtained values
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [11]:
gender_totals = player_demographics["Gender"].value_counts()
gender_percents = gender_totals / num_players
gender_demographics = pd.DataFrame({"Count": gender_totals, "Percent": gender_percents})

gender_demographics["Percent"] = gender_demographics["Percent"].map("{:,.2%}".format)

gender_demographics

                       Count Percent
Male                     484  84.03%
Female                    81  14.06%
Other / Non-Disclosed     11   1.91%

## Purchasing Analysis (Gender)

In [12]:
gender_df = df.groupby('Gender')

In [13]:
# calculations to obtain purchase count by gender
male_purchase_count = gender_df.count().Age.Male
female_purchase_count = gender_df.count().Age.Female
other_purchase_count = gender_df.count().Age["Other / Non-Disclosed"]

In [14]:
 # calculations to obtain purchase avg. purchase price per person by gender
f_avg_purchase_price = gender_df.mean().Price.Female
m_avg_purchase_price = gender_df.mean().Price.Male
o_avg_purchase_price = gender_df.mean().Price["Other / Non-Disclosed"]

In [15]:
#calculations to obtain purchase price. purchase total per person by gender
f_total_purchase_value = gender_df.sum().Price.Female
m_total_purchase_value = gender_df.sum().Price.Male
o_total_purchase_value = gender_df.sum().Price["Other / Non-Disclosed"]

In [16]:
# give the displayed data cleaner formatting
purchasing_analysis = {
    "Gender": ["Female", "Male", "Other / Non-Disclosed"],
    "Purchase Count": [female_purchase_count, male_purchase_count, other_purchase_count],
    "Average Purchase Price": [f_avg_purchase_price, m_avg_purchase_price, o_avg_purchase_price],
    "Total Purchase Value": [f_total_purchase_value, m_total_purchase_value, o_total_purchase_value], 
    #"Normalized Totals": [(purchase_data_df[purchase_data_df.Gender == "Male"].groupby("SN").Age.count().mean() - f_average_purchase_price) / purchase_data_df.Price.std()]
    # normalized totals (  -  ) / purchase_data_df.Price.std() )
}
purchasing_analysis_df = pd.DataFrame(purchasing_analysis).set_index("Gender")

purchasing_analysis_df['Average Purchase Price'] = purchasing_analysis_df['Average Purchase Price'].map('${0:,.2f}'.format)
purchasing_analysis_df['Total Purchase Value'] = purchasing_analysis_df['Total Purchase Value'].map('${0:,.2f}'.format)
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table

In [17]:
#  Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels=bin_names)

# Calculate the numbers and percentages by age group
age_demogrpahic_totals = player_demographics["Age Ranges"].value_counts()
age_demographic_percents = age_demogrpahic_totals / num_players
age_demographics = pd.DataFrame({"Count": age_demogrpahic_totals, "Percent": age_demographic_percents})

# Format the percent column
age_demographics["Percent"] = age_demographics["Percent"].map("{:,.2%}".format)

# Create a summary data frame to hold the results
age_demographics.sort_index()

       Count Percent
<10       17   2.95%
10-14     22   3.82%
15-19    107  18.58%
20-24    258  44.79%
25-29     77  13.37%
30-34     52   9.03%
35-39     31   5.38%
40+       12   2.08%

## Purchasing Analysis (Age)

In [18]:
# Count purchases by age group
purchase_count_age = age_demographics["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = age_demographics["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_demographics["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with obtained values
purchase_age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format the data frame with no index name in the corner
purchase_demographics.index.name = None
purchase_demographics

KeyError: 'Purchase ID'

## Top Spenders

In [ ]:
# Group purchase data by screen names
spender_stats = df.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_spenders

# Most Popular Items

In [ ]:
# Create new data frame with items related information 
items = df[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_formatted

# Most Popular Items

In [20]:
# Take the most_popular items data frame and change the sorting to find highest total purchase value


popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

NameError: name 'most_popular_items' is not defined